<div class="panel panel-default">
  
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Rappel List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Titer</th>
          <th>Date</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rappel of rappels | async">
          <td>{{rappel.titer}}</td>
          <td>{{rappel.date}}</td>
          <td>{{rappel.description}}</td>
          <td><button (click)="deleteRappel(rappel.id)" class="btn btn-danger">Delete</button>
          
          <button (click)="rappelDetaille(rappel.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

